@inherits LayoutComponentBase
@attribute [Authorize]

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />


    <MudAppBar Class="app-bar" Elevation="4">
      
        <div>
            <MudText Typo="Typo.h6">
                Tricycle Fare and Passenger Management
            </MudText>
        </div>
           
    </MudAppBar>


<MudNavMenu>


</MudNavMenu>


<MudContainer>
   
    <MudMainContent>
        <MudContainer class="content px-4">
            @Body

        </MudContainer>
    </MudMainContent>
</MudContainer>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

<AuthInitializer />
