@inherits LayoutComponentBase
@attribute [AllowAnonymous]
@rendermode InteractiveServer

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudContainer>
    <MudMainContent>
        <MudContainer>
            @Body
        </MudContainer>
    </MudMainContent>
</MudContainer>

<MudAppBar Class="app-bar" Elevation="4">

    <div>
        <MudText Typo="Typo.h6">
            Tricycle Fare and Passenger Management
        </MudText>
    </div>

</MudAppBar>


<MudNavMenu>


</MudNavMenu>

