@inherits LayoutComponentBase
@attribute [AllowAnonymous]
@rendermode InteractiveServer

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="landing-main-content-scroll background">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
        <MudAppBar Class="app-bar gap-7" Elevation="4">

            <div class="d-flex gap-3 align-items-center">
                <MudImage Height="100" Width="100" Class="rounded-full" Src="Images\TFPM.jpg"></MudImage>
            </div>

            <MudContainer Class="d-none d-md-block">
                <MudText Typo="Typo.h6" Class="overflow-auto whitespace-nowrap decoration-black font-bold mx-3">
                    Tricycle Fare and Passenger Management
                </MudText>
            </MudContainer>

            <MudSpacer />

            <MudContainer Class="d-none d-md-flex">
                <button @onclick="NavigateToHomePage" Class="nav-button">Home</button>
                <button @onclick="NavigateToSignInPage" Class="nav-button">Sign In</button>
            </MudContainer>
        </MudAppBar>
    </div>

    @Body
</div>

@code {
    [Inject] protected NavigationManager Navigation { get; set; } = default!;

    public void NavigateToSignInPage()
    {
        Navigation.NavigateTo("/login");
    }

    public void NavigateToHomePage()
    {
        Navigation.NavigateTo("/");
    }
}

