@inherits LayoutComponentBase
@rendermode InteractiveServer
@inject NavigationManager NavigationManager


<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudAppBar Class="app-bar px-2" Elevation="4">
    <MudText Typo="Typo.h6">
        Tricycle Fare and Passenger Management
    </MudText>

    <MudNavMenu Class="d-flex ml-10" Style="gap: 1rem;">
        <MudNavLink Href="/admindashboard" Icon="@Icons.Material.Filled.Home" Match="NavLinkMatch.All">
            Dashboard
        </MudNavLink>

        <MudNavLink Href="/passengers" Icon="@Icons.Material.Filled.People"
                    Style="white-space: nowrap;">
            Passenger List
        </MudNavLink>

        <MudNavLink Href="/reports" Icon="@Icons.Material.Filled.History"
                    Style="white-space: nowrap;">
            Daily Reports
        </MudNavLink>

        <MudNavLink Href="/drivers" Icon="@Icons.Material.Filled.DirectionsBus">
            Drivers
        </MudNavLink>


    </MudNavMenu>
</MudAppBar>


<MudMainContent>
    @Body  <!-- This renders the AdminDashboard content or other pages -->
</MudMainContent>


<MudContainer Class="mt-10" MaxWidth="MaxWidth.ExtraLarge">
    <MudMainContent >
        @Body
    </MudMainContent>
</MudContainer>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
