@inherits LayoutComponentBase
@rendermode InteractiveServer
@inject NavigationManager Navigation


<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="flex flex-col min-h-screen">
    <MudAppBar Class="app-bar px-2" Elevation="4">
        <MudContainer Class="d-none d-md-block ml-20">
            <MudText Typo="Typo.h6" Class="overflow-auto whitespace-nowrap decoration-black font-bold mx-3">
                Tricycle Fare and Passenger Management
            </MudText>
        </MudContainer>

        <MudSpacer />

        <MudContainer Class="d-none d-md-flex gap-2">
            <button Class="button" @onclick="NavigateToDashboard">
                Dashboard
            </button>

            <button Class="button" @onclick="NavigateToPassenger">
                Passenger
            </button>

            <button Class="button" @onclick="NavigateToReports">
                Reports
            </button>

            <button Class="button" @onclick="NavigateToDriver">
                Drivers
            </button>

            <button Class="button" @onclick="NavigateToTrip">
                Trips
            </button>
        </MudContainer>
    </MudAppBar>

    <MudContainer Class="mt-10" MaxWidth="MaxWidth.ExtraLarge">
        <MudMainContent>
            @Body
        </MudMainContent>

        <footer class="bg-gray-900 text-white text-center py-2 mt-auto hidden sm:block">
            <p>&copy; @DateTime.UtcNow.Year Tricycle Fare and Passenger Management</p>
        </footer>
    </MudContainer>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private void NavigateToDashboard()
    {
        Navigation.NavigateTo("/admindashboard");  
    }

    private void NavigateToPassenger()
    {
        Navigation.NavigateTo("/passengers");
    }

    private void NavigateToDriver()
    {
        Navigation.NavigateTo("/drivers");
    }

    private void NavigateToTrip()
    {
        Navigation.NavigateTo("/trips");
    }

    private void NavigateToReports()
    {
        Navigation.NavigateTo("/reports");
    }
}
