.background[b-t0rxlrvxa5] {
    background-image: url('Images/Landing.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.landing-main-content-scroll[b-t0rxlrvxa5] {
    padding: 1rem;
    height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
}

.nav-button[b-t0rxlrvxa5] {
    white-space: nowrap !important;
    color: white !important;
    font-family: sans-serif !important;
    font-size: 16px !important;
    text-decoration: none !important;
    padding: 10px 15px !important;
    border-radius: 5px !important;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s !important;
}

    .nav-button:hover[b-t0rxlrvxa5] {
        background: linear-gradient(135deg, #006400, #90ee90) !important;
        transform: scale(1.05) !important;
        padding: 4px;
    }